<div class="jumbotron">
	<h3>Errands</h3>
	<div id="errand-list" class="row">
        <table class="table table-striped">
            <tr>
                <td><b>Title</b></td>
                <td><b>Username</b></td>
            </tr>
            <tr ng-repeat="errand in errands">
                <td><a href="/view_errand/{{errand._id}}">{{errand.title}}</a></td>
                <td>{{errand.username}}</td>                
            <tr>
        </table>
    </div>
</div>