<div class="jumbotron">
	<h3>Log In</h3>
    </br>
    <form class="form">
        <div class="row">
            <label class="control-label col-sm-2" for="username">Username</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="username" placeholder="Username" ng-model="formData.username">
            </div>
        </div>
        </br>
        <div class="row">
            <label class="control-label col-sm-2" for="password">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="formData.password">
            </div>
        </div>
        </br>
        <button type="submit" class="btn btn-default" ng-click="login()">Log In</button>
    </form>
</div>