<div class="jumbotron">
	<h3>New Errand</h3>
    </br>
    <form class="form">
        <div class="row">
            <label class="control-label col-sm-1" for="title">Title</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="title" placeholder="Title" ng-model="formData.title">
            </div>
        </div>
        </br>
        <div class="row">
            <label class="control-label col-sm-2" for="desc">Description</label>
            <textarea class="form-control col-sm-10" rows="3" id="desc" placeholder="Description" ng-model="formData.desc"></textarea>
        </div>
        </br>
        <button type="submit" class="btn btn-default" ng-click="createErrand()">Submit</button>
    </form>
</div>