<div class="jumbotron">
	<h3>Sign Up</h3>
    </br>
    <form class="form">
        <div class="row">
            <label class="control-label col-sm-2" for="username">Username</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="username" placeholder="Username" ng-model="formData.username">
            </div>
        </div>
        </br>
        <div class="row">
            <label class="control-label col-sm-2" for="password">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="formData.password">
            </div>
        </div>
        </br>
        <div class="row">
            <label class="control-label col-sm-2" for="email">Email</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="email" placeholder="Email" ng-model="formData.email">
            </div>
        </div>
        </br>
        <div class="row">
            <label class="control-label col-sm-2" for="firstName">First name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="formData.firstName">
            </div>
        </div>
        </br>
        <div class="row">
            <label class="control-label col-sm-2" for="lastName">Last name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="formData.lastName">
            </div>
        </div>
        </br>
        <button type="submit" class="btn btn-default" ng-click="signup()">Submit</button>
    </form>
</div>