<div class="jumbotron">
	<h3>Errand</h3>
    </br>
    <p>Title: {{errand.title}}</p>
    <p>Description: {{errand.desc}}</p>
    <p> Created on: {{errand.create_time | date:"MM/dd/yyyy 'at' h:mma"}}</p>
    </br>
    <div class="ng-cloak">
        <button type="submit" class="btn btn-default" ng-show="can_delete" ng-click="deleteErrand()">Delete</button>
    </div>
</div>