<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <base href="/">
        
        <title>Errander</title>
        
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
        <script src="/libs/angular/angular.min.js"></script>
        <script src="/libs/angular-route/angular-route.min.js"></script>
        <script src="/controllers/MainCtrl.js"></script>
        <script src="/services/errands.js"></script>
        <script src="/angular_routes/erranderRoutes.js"></script>
        <script src="/app.js"></script>
    </head>
    <body ng-app='erranderApp' ng-controller='MainController'>
    <div class="container">
	
	<!-- HEADER -->
	<nav class="navbar">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Errander</a>
		</div>
        <div class="ng-cloak">
            <ul class="nav navbar-nav" ng-show="logged_in">
                <li><a href="/new_errand">Create Errand</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-hide="logged_in">
                <li><a href="/login">Log In</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-hide="logged_in">
                <li><a href="/signup">Sign Up</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-show="logged_in">
                <li><a href="/profile">My Profile</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-show="logged_in">
                <li><a href="/" ng-click="logout()">Log Out</a></li>
            </ul>
        </div>
	</nav>

	<!-- ANGULAR DYNAMIC CONTENT -->
	<div ng-view></div>
    </div>
    </body>
</html>